<div class="row">
    <div class="col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
            <h1 class="text-center">Comidas y Cenas</h1>
          <form>
            <input type="submit" value="Hamburguesa Simple          $5.00" class="enviar btn btn-warning btn-block btn-lg">
            <input type="submit" value="Hamburguesa Doble           $7.00" class="enviar btn btn-warning btn-block btn-lg">
            <input type="submit" value="Papas fritas                $5.00" class="enviar btn btn-warning btn-block btn-lg">
            <input type="submit" value="Onion Rings                 $5.00" class="enviar btn btn btn-warning btn-block btn-lg">
            <input type="submit" value="Agua 500ml                  $5.00" class="enviar btn btn btn-warning btn-block btn-lg">
            <input type="submit" value="Agua 750ml                  $7.00" class="enviar btn btn btn-warning btn-block btn-lg">
            <input type="submit" value="Gaseosa 500ml               $7.00" class="enviar btn btn btn-warning btn-block btn-lg">
            <input type="submit" value="Gaseosa 750ml               $10.00" class="enviar btn btn btn-warning btn-block btn-lg">
          </form>
        </div>
      </div>
    </div>
  </div>